{% load static %}
<!DOCTYPE html>   
<head>
    <meta charset="utf-8">
    <title>sharyx</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="sweio">
 
    <!-- SPECTRE CSS -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- FORK AWESOME ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  </head>
 
<body class="mx-2">
    <header class="navbar">
        <section class="navbar-section"></section>
        <section class="navbar-center">
          <a href="#" class="btn btn-link"><img src="{% static 'logo.png' %}" width="32px" height="32px"></a>
        </section>
        <section class="navbar-section">
          <a href="#" class="btn btn-link text-light">login</a>
          <a href="#" class="btn btn-link text-light">register</a>
          <button class="btn btn-primary s-circle"><i class="fa fa-discord-alt fa-lg" aria-hidden="true"></i></button>
        </section>
      </header>
      <div class="hero">
        <div class="hero-body text-light text-center p-centered">
          <h1 class="text-bold">sharyx</h1>
          <p>superior image hosting service</p>
          <p>currently in construction...</p>
          <div class="bar bar-sm">
            <div class="bar-item" role="progressbar" style="width:25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <footer>
        <p></p>
      </footer>
    <!-- !Javascript - at the bottom for fast page loading -->
</body>
</html>